h1{
    color:black;
}
.Daisy{
    color:yellow;
}
.Bellflower{
    color:skyblue;
}
.Sakura{
    color:pink;
}
select{
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
}
input{
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
}
.runbtn{
    border-radius: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px; */
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-style: none;
    background-color: rgb(255, 205, 113);
}
.addbtn{
    border-radius: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px; */
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border-style: none;
    background-color: rgb(255, 205, 113);
}
table{
    width: 90vw;
    height: 150px;
    margin: auto;
}
table td{
    vertical-align: middle;
    text-align: center;
}
#btn:hover{
    background-color:#BDB76B;
}
#btn:active{
    transform:translate(0px,2px)
}
